click
jupyterlab
matplotlib
pandas
pp-ez
pprintpp
pytest
pytest-cov
pytest-mock
responses
snoop
sphinx==1.8.5
sphinx-autobuild
sphinx_rtd_theme
sqlalchemy-utils
toposort
xlrd

# Google Sheets API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
