click
jupyterlab
matplotlib
moto
pandas
pp-ez
pprintpp
pytest
pytest-cov
pytest-mock
responses
snoop
sphinx
sphinx-autobuild
sphinx_rtd_theme
# https://github.com/kvesteri/sqlalchemy-utils/issues/472
sqlalchemy-utils==0.36.7
toposort
xlrd

# Google Sheets API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
